In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from multi_run_v2.initialize_v2 import data_pp, screener

In [35]:
#data = pd.read_pickle("Data/cmktcap_data_snapshot.pickle")
data = pd.read_pickle("Data/cmktcap_data_final.pickle")

cmktcap = data_pp(data=data,
                  vender="coinmarketcap")

In [36]:
compare_mask = screener(cmktcap["mktcap"],
                        cmktcap["vol"],
                        1_000_000,
                        None,
                        ma=False)

In [37]:
compare_mask.loc["2013"]

coin_id,1,10,100,1000,10005,10006,1001,10011,10016,10023,...,998,9982,9984,9987,9989,999,9991,9996,9997,9998
date,,,,,,,,,,,,,,,,,,,,,
2013-04-28,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-29,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-01,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-02,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-27,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-28,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-29,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-30,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# 누적식으로 코인을 카운트
for year in range(2014, 2024):
    if year == 2014:
        print("2014:", (compare_mask.loc[str(year)].sum() > 0).sum())
    else:
        before = (compare_mask.loc[:str(year)].sum() > 0).sum()
        print(f"{year}:", before)
        #that_year = (compare_mask.loc[str(year)].sum() > 0).sum()

2014: 130
2015: 166
2016: 241
2017: 650
2018: 1014
2019: 1265
2020: 1647
2021: 1989
2022: 2627
2023: 2746