In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_pickle("Data\cmktcap_data_raw.pickle")

price = pd.pivot_table(data=data, values="close",
                       index=data.index,columns="coin_id")

In [4]:
# Load file that mapping from coin_id to symbol
coin_list = pd.read_csv("Data/coin_list_coinmarketcap.csv", index_col=0)[["id","symbol"]]
coin_list.id = coin_list.id.astype("str")
coin_list.head()

  id symbol
0  1    BTC
1  2    LTC
2  3    NMC
3  4    TRC
4  5    PPC

In [3]:
stable_coin = ["USDT","USDC","BUSD","DAI","TUSD",
               "FRAX","USDP","USDD","GUSD","FEI","USDJ","LUSD",
               "USTC","EURS","TRIBE","vUSDC","USDX",
               "vBUSD","XSGD","VAI","SUSD","CUSD","SBD",
               "vUSDT","EUROC","OUSD","USDK","RSV","KRT",
               "GYEN","CEUR","HUSD","BIDR","IDRT","vDAI",
               "DGD","BITCNY","XCHF","DGX","EOSDT","BITUSD",
               "ZUSD","ESD","USDS","BAC","ALUSD","YUSD",
               "USX","MIM","DOLA","MIMATIC","EURT","MUSD",
               "USDs","AGEUR","mCUSD","TOR","TRYB","mCEUR",
               "XIDR","1GOLD","USDS","MXNT","XSTUSD","USDEX",
               "CUSD","MTR","BRCP","CUSDT","SEUR","xDAI",
               "DUSD","USDP","USDH","USDZ","DJED","JPYC",
               "PAR","WANUSDT","ONC","FUSD","MUSD","ONEICHI",
               "FUSD","CADC","XUSD","DSD","JPYC","USDB","XUSD",
               "MONEY","USDR","COFFIN","IRON","KBC","DPT","nUSD",
               "STATIK","USN","USNBT","BITGOLD","BITEUR","HGT",
               "QC","ITL","CONST","USDQ","XEUR","BGBP","EBASE",
               "BKRW","USDEX","USDL","UETH","BVND","BSD","SAC",
               "USDEX","ZUSD","USDFL","MDS","MDO","FLOAT","fUSDT",
               "FLUSD","ARTH","USDAP","BEAN","COUSD","DUSD","AUSD",
               "fUSDT","H2O","IUSDS","USDI","GBPT","EUROS"]
len(stable_coin)

137

In [5]:
catch_stable = []

for columns in price.columns:
    symbol = coin_list.loc[coin_list.id == columns, "symbol"].values[0]
    if symbol in stable_coin: 
        catch_stable.append(columns) # If symbol is match, than save id

In [6]:
stable = data.loc[(data.coin_id.apply(lambda x: x in catch_stable).values)]

In [11]:
stable

,coin_id,open,high,low,close,vol,mktcap,timehigh,timelow
date,,,,,,,,,
2014-03-12,162,0.000005,0.000006,1.514980e-06,5.816800e-06,4.250150e+02,23182.263180,2014-03-12T22:48:03.000Z,2014-03-12T14:18:20.000Z
2014-03-13,162,0.000006,0.000006,1.326960e-06,5.252200e-06,6.158770e+02,21537.580403,2014-03-13T02:38:24.000Z,2014-03-13T18:13:17.000Z
2014-03-14,162,0.000005,0.000007,2.602420e-06,3.001100e-06,2.974890e+02,12650.350426,2014-03-14T19:12:41.000Z,2014-03-14T11:08:51.000Z
2014-03-15,162,0.000003,0.000003,8.164080e-07,1.866800e-06,1.332550e+02,8082.568009,2014-03-15T02:38:50.000Z,2014-03-15T23:13:20.000Z
2014-03-16,162,0.000002,0.000002,4.909320e-07,4.922000e-07,8.709820e+00,2162.243389,2014-03-16T09:18:50.000Z,2014-03-16T20:39:26.000Z
...,...,...,...,...,...,...,...,...,...
2023-04-16,10789,1.100533,1.102708,1.097521e+00,1.099940e+00,1.488172e+06,0.000000,2023-04-16T19:37:00.000Z,2023-04-16T23:38:00.000Z
2023-04-16,10484,0.000108,0.000114,1.004555e-04,1.132228e-04,3.122400e+02,0.000000,2023-04-16T22:04:00.000Z,2023-04-16T09:48:00.000Z
2023-04-16,366,0.000546,0.000550,5.434051e-04,5.457581e-04,0.000000e+00,17694.400000,2023-04-16T19:36:00.000Z,2023-04-16T01:17:00.000Z
2023-04-16,10419,1.077713,1.086713,1.074967e+00,1.076843e+00,0.000000e+00,0.000000,2023-04-16T19:01:00.000Z,2023-04-16T10:13:00.000Z
2023-04-16,10238,0.997638,0.999891,9.891930e-01,9.979305e-01,1.244830e+06,0.000000,2023-04-16T06:37:00.000Z,2023-04-16T13:34:00.000Z

In [8]:
price = pd.pivot_table(data=stable, values="close",
                       index=stable.index,columns="coin_id")

In [9]:
price

coin_id,10238,10419,10484,10789,1158,1229,12366,12439,12765,12840,...,8657,8665,8690,8771,8772,8886,9025,9045,9467,9566
date,,,,,,,,,,,,,,,,,,,,,
2014-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-12,0.997825,1.100696,0.000110,1.100836,NaN,65.991489,0.032446,0.004342,0.001544,0.000826,...,1.001259,1.091526,0.302135,0.007513,0.994750,0.999719,0.285180,0.007957,1.089314,1.010631
2023-04-13,0.999680,1.077325,0.000113,1.104058,NaN,66.515444,0.032587,0.004345,0.001545,0.000846,...,1.000469,1.096431,0.749678,0.007587,0.994750,1.000652,0.304626,0.008163,1.093382,1.013463
2023-04-14,0.997298,1.079866,0.000109,1.100313,NaN,66.960216,0.033042,0.004344,0.001545,0.000849,...,1.004869,1.098153,0.749200,0.007510,0.994750,0.999608,0.308598,0.008208,1.094583,1.014266
2023-04-15,0.997558,1.077722,0.000108,1.100563,NaN,59.284819,0.033132,0.004344,0.001732,0.000842,...,1.002194,1.096084,0.756840,0.007486,0.994750,0.999252,0.307836,0.008234,1.090299,1.012921
2023-04-16,0.997931,1.076843,0.000113,1.099940,NaN,59.282616,0.033200,0.004342,0.001790,0.000860,...,1.002047,1.094934,0.766633,0.007466,0.993914,0.998897,0.307535,0.008220,1.092645,1.012022

In [10]:
price.pct_change(fill_method=None)

coin_id,10238,10419,10484,10789,1158,1229,12366,12439,12765,12840,...,8657,8665,8690,8771,8772,8886,9025,9045,9467,9566
date,,,,,,,,,,,,,,,,,,,,,
2014-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-12,-0.000307,0.008800,0.030130,0.007814,NaN,0.000234,-0.008096,-0.000339,-0.007682,-0.022793,...,-0.003294,0.003828,-0.595977,0.000827,0.000225,0.000120,-0.002233,0.004478,0.005003,-0.000370
2023-04-13,0.001859,-0.021232,0.022893,0.002927,NaN,0.007940,0.004344,0.000551,0.000435,0.023620,...,-0.000789,0.004493,1.481266,0.009843,0.000000,0.000933,0.068190,0.025877,0.003734,0.002803
2023-04-14,-0.002383,0.002359,-0.032367,-0.003392,NaN,0.006687,0.013952,-0.000150,0.000000,0.003400,...,0.004398,0.001571,-0.000639,-0.010064,0.000000,-0.001044,0.013039,0.005415,0.001098,0.000792
2023-04-15,0.000261,-0.001986,-0.012540,0.000228,NaN,-0.114626,0.002740,-0.000039,0.121445,-0.008294,...,-0.002662,-0.001884,0.010198,-0.003273,0.000000,-0.000356,-0.002469,0.003180,-0.003913,-0.001326
2023-04-16,0.000373,-0.000816,0.048910,-0.000567,NaN,-0.000037,0.002034,-0.000351,0.033211,0.021910,...,-0.000148,-0.001049,0.012939,-0.002660,-0.000841,-0.000355,-0.000978,-0.001650,0.002151,-0.000888