In [6]:
from datetime import datetime
import numpy as np
import pandas as pd 
from tqdm import tqdm

In [ ]:
price_df = pd.read_csv("mongo_price.csv", index_col=0)
mkt_df = pd.read_csv("mongo_mkt.csv", index_col=0)

In [ ]:
def find_nan(df):
    tmp = {}
    col = df.columns
    mask = df.isna()

    for c in col:
        nan = df[c].index[mask[c]]
        tmp[c] = list(nan)
    return tmp

In [ ]:
mkt_nan = find_nan(mkt_df)
price_nan = find_nan(price_df)

In [ ]:
find_mkt_nans = pd.Series(mkt_nan)
find_price_nans = pd.Series(price_nan)

Download Data From Mongo db

In [2]:
from datetime import datetime
import numpy as np
import pandas as pd 
from tqdm import tqdm
import pymongo

In [3]:
mongo_server = pymongo.MongoClient("mongodb://skku_user:skku!#(*@152.70.90.103:27017")
mongo_db = mongo_server.FDB_CRYPTO
mongo_collection = mongo_db.HIST_SNAPSHOT_FINAL

dates = pd.date_range("2011-01-01", "2023-03-10")
datetime_dates = dates.to_pydatetime()
#res_mkt_cap = {}
#res_price = {}
#trading_since = {}
res_volume = {}
error = {}

for date in tqdm(datetime_dates):
    tmp = []
    query = {"timestamp": {"$gte": date, "$lte":date}}
    result = mongo_collection.find(query)
    for r in result:
        tmp.append(r)

    symbol = []
    #mkt_cap = []
    #price = []
    #since = []
    volume= []

    key = list(tmp[0].keys())[1:]
    unique_key = []
    
    for k in key:
        if k not in unique_key:
            unique_key.append(k)
        else:
            unique_key.append(str(k)+"_")
    
    for k in unique_key:
        try:
            symbol.append(tmp[0][k]["symbol"])
            #mkt_cap.append(tmp[0][k]["market_cap_usd"])
           #price.append(tmp[0][k]["last_price_usd"])
            #since.append(tmp[0][k]["trading_since"])
            volume.append(tmp[0][k]["volume_24_usd"])

        except:
            error[date] = k
            continue 
    #res_mkt_cap[date.strftime("%Y-%m-%d")] = pd.Series(data=mkt_cap, index=symbol)
    res_volume[date.strftime("%Y-%m-%d")] = pd.Series(data=volume, index=symbol)
    #trading_since[date.strftime("%Y-%m-%d")] = pd.Series(data=since, index=symbol)

100%|██████████| 4452/4452 [11:09<00:00,  6.65it/s]

In [4]:
# 데이터 저장
#price = pd.DataFrame(res_price).T 
#mkt_cap = pd.DataFrame(res_mkt_cap).T
volume = pd.DataFrame(res_volume).T

#price.to_csv("final_price.csv")
#mkt_cap.to_csv("final_mktcap.csv")

In [10]:
sample = volume.XRP
sample.loc[(sample > 0).values]

2013-12-27    1.257360e+05
2013-12-28    1.522290e+05
2013-12-29    5.653300e+04
2013-12-30    7.495900e+04
2013-12-31    6.241600e+04
                  ...
2023-03-06    1.454759e+09
2023-03-07    1.964691e+09
2023-03-08    3.186417e+09
2023-03-09    3.692149e+09
2023-03-10    3.280280e+09
Name: XRP, Length: 3361, dtype: float64

컬럼 맞춰주기 (Stable, effect of shares 드랍)

In [11]:
old_mkt = pd.read_pickle("ryu_new_mktcap2.pickle")
old_col = list(old_mkt.columns)

drop_col = [col for col in volume.columns if col not in old_col]
new_volume = volume.drop(drop_col, axis=1)

In [12]:
len(new_volume.columns), len(volume.columns)

(9421, 9563)

In [ ]:
new_volume.to_pickle("ryu_new_volume.pickle")

클리닝 해야함 (마켓켑의 경우)

XRP

In [21]:
price  = pd.read_pickle("ryu_new_price.pickle")

rtn = price.pct_change(fill_method=None) * np.sign(price)

In [22]:
t_0 = "2018-05-01"
t_1 = "2018-05-02" # 바꿔야할 날
coin = "XRP"

coin_rtn = rtn[[coin]].loc[t_1].values[0]

# 클리닝 이전 값
new_mktcap[["XRP"]].loc["2018-05-01":"2018-05-03"]

                     XRP
2018-05-01  3.220932e+10
2018-05-02  6.775326e+10
2018-05-03  3.412774e+10

In [23]:
# 클리닝
new_mktcap[coin].loc[t_1] = new_mktcap[coin].loc[t_0]*(1 + coin_rtn)

In [24]:
# 클리닝 이후
new_mktcap[["XRP"]].loc["2018-05-01":"2018-05-03"]

                     XRP
2018-05-01  3.220932e+10
2018-05-02  3.324257e+10
2018-05-03  3.412774e+10

In [25]:
new_mktcap.to_pickle("ryu_new_mktcap.pickle")

데이터 언제부터 있는 지 확인

In [32]:
btc = new_mktcap[["BTC"]]
btc.loc[(btc > 0).values]

                     BTC
2013-04-28  1.483339e+09
2013-04-29  1.549501e+09
2013-04-30  1.578685e+09
2013-05-01  1.422546e+09
2013-05-02  1.236444e+09
...                  ...
2023-03-06  4.307784e+11
2023-03-07  4.297374e+11
2023-03-08  4.258630e+11
2023-03-09  4.137194e+11
2023-03-10  3.855531e+11

[3604 rows x 1 columns]