In [2]:
import numpy as np 
import pandas as pd

In [3]:
d = pd.read_pickle("Data/binance_data.pickle")

In [4]:
d

,permno,prc,high,low,mcap,tvol
date,,,,,,
2013-05-06,BTCUSDT,112.300011,121.560448,106.639999,1.249023e+09,0.00
2013-05-06,LTCUSDT,3.371246,3.672350,3.116021,5.859430e+07,0.00
2013-05-07,BTCUSDT,111.500000,113.444000,97.699997,1.240594e+09,0.00
2013-05-07,LTCUSDT,3.332735,3.406723,2.939793,5.805118e+07,0.00
2013-05-08,BTCUSDT,113.565559,115.779999,109.600128,1.264044e+09,0.00
...,...,...,...,...,...,...
2023-04-07,YFIUSDT,8619.303159,8631.560925,8416.381450,2.826097e+08,15740803.04
2023-04-07,ZECUSDT,37.727157,38.025272,36.719031,6.160192e+08,22199937.66
2023-04-07,ZENUSDT,10.459990,10.591535,10.309893,1.417714e+08,6123474.26
2023-04-07,ZILUSDT,0.029100,0.029465,0.028648,4.617547e+08,26188717.57
2023-04-07,ZRXUSDT,0.290373,0.313517,0.288689,2.460897e+08,81076759.19

In [5]:
coin_lst = d.permno.unique().tolist()
coin_lst[:10]

['BTCUSDT',
 'LTCUSDT',
 'XRPUSDT',
 'DOGEUSDT',
 'DASHUSDT',
 'DGBUSDT',
 'XMRUSDT',
 'BTSUSDT',
 'XLMUSDT',
 'ETHUSDT']

In [6]:
busd = [col for col in coin_lst if "BUSD" in col[-4:]]
usdt = [col for col in coin_lst if "USDT" in col[-4:]]

In [7]:
len(busd)+len(usdt), len(busd), len(usdt)

(222, 37, 185)

In [8]:
# 둘다 겹치는 코인
[coin for coin in busd if coin in usdt]

[]

In [9]:
# USDT만 있거나 BUSD만 있는 걸 찾아야함
bus = [coin.replace("BUSD","") for coin in busd]
usd = [coin.replace("USDT","") for coin in usdt]

In [10]:
find = []
for coin in bus:
    if coin not in usd:
        find.append(coin)

In [11]:
find

['AUCTION']

In [12]:
auction = d.loc[d.permno == "AUCTIONBUSD"]
auction.loc[:,"permno"] = auction.loc[:,"permno"].str.replace("BUSD","")

auction

,permno,prc,high,low,mcap,tvol
date,,,,,,
2021-09-24,AUCTION,27.198082,28.164827,26.753857,5.667960e+07,6.485574e+06
2021-09-25,AUCTION,29.063466,28.854823,26.449061,6.056697e+07,4.220441e+06
2021-09-26,AUCTION,26.884360,28.492388,25.127457,5.602581e+07,6.303257e+06
2021-09-27,AUCTION,25.098829,28.129313,24.760207,5.230485e+07,8.346195e+06
2021-09-28,AUCTION,22.795391,25.200930,22.767926,4.750458e+07,5.637903e+06
...,...,...,...,...,...,...
2022-12-10,AUCTION,5.183848,5.262280,5.136614,3.162147e+07,1.985965e+06
2022-12-11,AUCTION,5.102404,5.240564,5.096583,3.112467e+07,1.736108e+06
2022-12-12,AUCTION,5.190854,5.507532,4.923535,3.166421e+07,1.116841e+07
2022-12-13,AUCTION,5.109624,5.196078,4.837923,3.116870e+07,5.291208e+06
2022-12-14,AUCTION,5.040121,5.213421,4.969198,3.074474e+07,3.823715e+06

In [14]:
# USDT만 가져오자
d2 = d.loc[d.permno.apply(lambda x: x in usdt)]

In [15]:
# 둘을 합치자
concat_df = pd.concat([d2, auction]).sort_index()
concat_df

,permno,prc,high,low,mcap,tvol
date,,,,,,
2013-05-06,BTC,112.300011,121.560448,106.639999,1.249023e+09,0.000000e+00
2013-05-06,LTC,3.371246,3.672350,3.116021,5.859430e+07,0.000000e+00
2013-05-07,BTC,111.500000,113.444000,97.699997,1.240594e+09,0.000000e+00
2013-05-07,LTC,3.332735,3.406723,2.939793,5.805118e+07,0.000000e+00
2013-05-08,BTC,113.565559,115.779999,109.600128,1.264044e+09,0.000000e+00
...,...,...,...,...,...,...
2023-04-07,ENJ,0.472614,0.495821,0.418747,4.726145e+08,4.482051e+08
2023-04-07,ENS,13.040262,13.214768,12.853610,2.639983e+08,2.072587e+07
2023-04-07,EOS,1.214722,1.220680,1.193336,1.321104e+09,1.044105e+08
2023-04-07,DGB,0.009361,0.009530,0.009315,1.510960e+08,3.564706e+06
2023-04-07,MTL,1.276310,1.305175,1.247704,8.498804e+07,1.236062e+07

In [18]:
# 나중에 알게된 사실인데,, USDC도 드랍해야함
concat_df2 = concat_df.loc[concat_df.permno != "USDC"]
concat_df2

,permno,prc,high,low,mcap,tvol
date,,,,,,
2013-05-06,BTC,112.300011,121.560448,106.639999,1.249023e+09,0.000000e+00
2013-05-06,LTC,3.371246,3.672350,3.116021,5.859430e+07,0.000000e+00
2013-05-07,BTC,111.500000,113.444000,97.699997,1.240594e+09,0.000000e+00
2013-05-07,LTC,3.332735,3.406723,2.939793,5.805118e+07,0.000000e+00
2013-05-08,BTC,113.565559,115.779999,109.600128,1.264044e+09,0.000000e+00
...,...,...,...,...,...,...
2023-04-07,ENJ,0.472614,0.495821,0.418747,4.726145e+08,4.482051e+08
2023-04-07,ENS,13.040262,13.214768,12.853610,2.639983e+08,2.072587e+07
2023-04-07,EOS,1.214722,1.220680,1.193336,1.321104e+09,1.044105e+08
2023-04-07,DGB,0.009361,0.009530,0.009315,1.510960e+08,3.564706e+06
2023-04-07,MTL,1.276310,1.305175,1.247704,8.498804e+07,1.236062e+07

In [ ]:
concat_df2.to_pickle(f"{t.parent}\\Data\\binance_data_pp.pickle")